{% extends "order/navbar.html" %}

{% block content %}
<h2>{{ account.name }} - Transactions</h2>
<p>Currency: {{ currency_account }}</p>

<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>Fee</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.user }}</td>
            <td>{{ transaction.get_transaction_type_display }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.fee }}</td>
            <td>{{ transaction.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    {% endblock %}