{% extends "order/navbar.html" %}

{% block content %}

<h2>Hesap Listesi</h2>
<a href="{% url 'order:transfer_money' %}" class="btn btn-success mb-2">Hesaplar Arası Transfer</a>
<br>
<br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Hesap Kodu</th>
            <th>Hesap Adı</th>
            <th>Kasa Kur</th>
            <th>Tutar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for bankaccount in bankaccounts %}
        <tr>
            <td>{{ bankaccount.cash_code }}</td>
            <td>{{ bankaccount.name }}</td>
            <td>{{ bankaccount.currency }}</td>
            {% if bankaccount.currency.currency == "USD" %}
                <td>{{ bankaccount.balance_USD }} USD</td>
            {% elif bankaccount.currency.currency == "EUR" %}
                <td>{{ bankaccount.balance_EUR }} EUR</td>
            {% elif bankaccount.currency.currency == "TL" %}
                <td>{{ bankaccount.balance_tl }} TL</td>
            {% endif %}
            <td>
                <a href="{% url 'Simetri.order:account_detail_list' id=bankaccount.id %}">Hesap Ekstresi</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
