{% extends "order/navbar.html" %}

{% block content %}

<h2>Cari Listesi</h2>
<a href="{% url 'order:customer_new' %}" class="btn btn-success mb-2">Yeni Cari</a>
<br>
<br>

<div class="search-container">
    <form action="{% url 'order:customer_listed' %}" method="get">
        <input type="text" placeholder="Cari Ünvanı" name="search">
        <button type="submit">Ara</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Cari</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>Vergi Numarası</th>
            <th>Şehir</th>
            <th>Eposta</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for customer in page_obj %}
        <tr>
            <td>
                <a href="{% url 'order:customer_details' customer.id %}">{{ customer.companyName }}</a>
            </td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.surname }}</td>
            <td>{{ customer.tax_number }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.email }}</td>
            <td>
                <a href="{% url 'order:customer_financials' customer_id=customer.id %}">Cari Ekstre</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo; İlk</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Önceki</a>
        {% endif %}

        <span class="current">
            Sayfa {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Sonraki</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Son &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
