{% extends "order/navbar.html" %}

{% block content %}

<h1>Cari Listesi</h1>

    <div class="search-container">
        <form action="{% url 'order:customer_listed' %}" method="get">
            <input type="text" placeholder="Cari Ünvanı" name="search">
            <button type="submit">Ara</button>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Cari</th>
                <th>Vergi Dairesi</th>
                <th>Şehir</th>
                <th>Eposta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.companyName }}</a></td>
                <td>{{ customer.taxOffice }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.email }}</td>
                <td><td><a href="{% url 'order:customer_financials' customer_id=customer.id %}">Cari Ekstre</a></td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>



{% endblock %}
