<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Simetri Büro Makinaları</title>
</head>
      <body>
        <div class="container">

            <h3> Cari:    {{invoice.order.customer}} </h3>
            <h3> Fatura Numarası:    {{invoice.invoice_number}} </h3>
            <h3> Fatura Tutarı KDV Dahil:    {{invoice.grand_total}} TL</h3>

            <h1> İşlem bitinceye kadar sayfayı kapatmayınız</h1>
            <a href="{% url 'Simetri.order:post_invoice' invoice.invoice_number %}" class="btn btn-primary">Smart'a Taşı</a>


    

      </div>
   
</body>
</html>