<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simetri Büro Makinaları</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .container-custom {
            padding-left: 15px;
            padding-right: 15px;
        }
        .navbar-default {
            margin: 0;
            border-radius: 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-custom"><!-- Changed from container to container-custom -->
            <div class="navbar-header">
                <a class="navbar-brand brand-font" href="{% url 'order:main' %}">
                    <img src="{% static 'simetrilogo.png' %}" width="150px" alt="">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li><a href="{% url 'order:customer_listed' %}">Müşteriler</a></li>
                        <li><a href="{% url 'order:search' %}">Ürünler</a></li>
                        <li><a href="{% url 'order:order_list' %}">Siparişler</a></li>
                        <li><a href="{% url 'order:invoice_list' %}">Satış Faturaları</a></li>
                        <li><a href="{% url 'order:supplier_listed' %}">Tedarikçiler</a></li>
                        <li><a href="#">Alış Faturaları</a></li>
                        <li><a href="{% url 'order:payment_receipt_list' %}">Kasa İşlemleri</a></li>
                        <li><a href="{% url 'order:make_production' %}">Üretim Listesi</a></li>
                        <li><a href="{% url 'order:comparison' %}">Tablo</a></li>

                    {% else %}
                        <li><a href="{% url 'order:user_order_list' %}">Siparişlerim</a></li>
                        <li><a href="{% url 'order:user_invoice_list' %}">Faturalarım</a></li>
                        <li><a href="{% url 'order:user_financial' %}">Cari Ekstrem</a></li>
                    {% endif %}
                    <li><a href="{% url 'users:logout' %}">Çıkış</a></li>
                    {% if not user.is_staff %}
                        <li><a href="{% url 'order:customer_update_request' user.pk %}"> <b>Merhaba {{user.username}}</b></a></li>
                    {% else %}
                        <li> <b>Kullanıcı: {{user.username}}</li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'users:login' %}">Giriş</a></li>
                    <li><a href="">Üye Ol</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container-custom"><!-- Changed from container to container-custom -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
