{% extends "order/navbar.html" %}

{% block content %}
<body>
    {% if order_items_with_tl %}
    <h1>{{ order.customer }}</h1>
    <p>Sipariş Numarası: {{ order.order_number }}</p>
    <p>Tarih: {{ order.date|date:"d-m-Y H:i" }}</p>
    

    <h2>Sipariş Detayları</h2>
    <form method="POST">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th>Ürün Görseli</th>
                    <th>Ürün Açıklaması</th>
                    <th>Miktar</th>
                    <th>Fiyat</th>
                    <th>Döviz</th>
                    <th>Kur</th>
                    <th>İskonto%</th>
                    <th>TL</th>
                    <th>KDV</th>
                    <th>Toplam</th>
                    <th>Güncelle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                {% for item_with_tl in order_items_with_tl %}
                <tr>
                    <td><img src="{{ item_with_tl.item.product.photoPath }}" alt="" width="50"></td>
                    <td>{{ item_with_tl.item.product.description|slice:":100" }}</td>
                    <td>
                        <input type="number" name="quantity_{{ item_with_tl.item.id }}" value="{{ item_with_tl.item.quantity }}" min="1" style="width: 70px" required>
                    </td>
                    <td>{% if order.customer.user == request.user %}
                        {{ item_with_tl.item.price }}
                        {% else %}
                        <input type="number" name="price_{{ item_with_tl.item.id }}" value="{{ item_with_tl.item.price }}" step="0.01" min="0" style="width: 70px" required>
                        {% endif %}
                    </td>
                    <td>{{ item_with_tl.item.product.currency }}</td>
                    <td>{% if order.customer.user == request.user %}
                        {{ item_with_tl.currency_rate }}
                        {% else %}
                        <input type="number" name="currency_rate_{{ item_with_tl.item.id }}" value="{{ item_with_tl.currency_rate }}" step="0.01" min="0" style="width: 70px" required>
                        {% endif %}
                    </td>
                    <td>{% if order.customer.user == request.user %}
                        {{ item_with_tl.discount_rate }}
                        {% else %}
                        <input type="number" name="discount_rate_{{ item_with_tl.item.id }}" value="{{ item_with_tl.discount_rate }}" step="0.01" min="0" style="width: 70px" required>
                        {% endif %}
                    </td>
                    <td>{{ item_with_tl.tl_value }}</td>
                    <td>{{ item_with_tl.tax }}</td>
                    <td>{{ item_with_tl.total }}</td>
                    <td>
                        {% if order.customer.user == request.user %}
                        <button type="submit" name="update_user"class="btn btn-primary">Güncelle</button>
                        {% else %}
                        <button type="submit" name="update"class="btn btn-primary">Güncelle</button>
                        {% endif %}
                    </td>
                    <td>
                        <button type="submit" name="delete_item" value="{{ item_with_tl.item.id }}" class="btn btn-danger">Sil</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    {% if order.customer.user != request.user %}
    <form method="POST" action="{% url 'order:create_invoice' order_number=order.order_number %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Faturaya Çevir</button>
    </form>
    {% endif %}
    
    <h2>Ürün Ekle</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ product_form.product_name }}
            <input type="submit" class="btn btn-primary" name="product_submit" value="Ara" style="padding: 4px 8px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">
        </div>
    </form>

    {% if productresult %}
    <h2>Arama Sonuçları</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Görsel</th>
                <th>Kod</th>
                <th>Açıklama</th>
                <th>Marka</th>
                <th>Kategori</th>
                <th>Fiyat</th>
                <th>Döviz</th>
                <th>Stok</th>
                <th>Miktar</th>
                <th>Ekle</th>
            </tr>
        </thead>
        <tbody>
            {% for item in productresult %}
            <tr>
                <td><img src="{{ item.photoPath }}" alt="" width="100"></td>
                <td>{{ item.codeUyum }}</td>
                <td>{{ item.description|slice:":100" }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.mainCategory }}</td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        {% if order.customer.user == request.user %}
                        <input type="number" name="new_price" value="{{ item.priceSelling }}" step="0.01" min="0.01" required readonly>
                        {%else%}
                        <input type="number" name="new_price" value="{{ item.priceSelling }}" step="0.01" min="0.01" required>
                        {%endif%}
                        <input type="hidden" name="item_id" value="{{ item.id }}">

                </td>
                <td>{{ item.currency }}</td>
                <td>{{ item.stockAmount }}</td>
                <td>
                    <input type="number" name="quantity" value="1" min="1" max="{{ item.stockAmount }}">
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                </td>
                <td>
                    <button type="submit" name="product_add" class="btn btn-primary">Ekle</button>
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <h5>Toplam Tutar: {{ total_amount }} TL</h5>
    <h5>Toplam İskonto: {{ total_discount }} TL</h5>
    <h5>Toplam KDV: {{ total_tax }} TL</h5>
    <h5>Genel Toplam: {{ grand_total }} TL</h5>

    <a href="{% url 'order:order_list' %}">Siparişlere Dön</a>
    {% else %}
    <h1>Sipariş Detayları silinmiştir</h1>
    {% endif %}
</body>
{% endblock %}