{% extends "order/navbar.html" %}

{% block content %}
    <h2>Makbuz Detayları</h2>
    <table class="table">
        <tr>
            <th>İşlemi Sahibi:</th>
            <td>{{ payment_receipt.user }}</td>
        </tr>
        <tr>
            <th>İşlem No:</th>
            <td>{{ payment_receipt.transaction_number }}</td>
        </tr>
        <tr>
            <th>Kasa Hesabı:</th>
            <td>{{ payment_receipt.cash_register }}</td>
        </tr>
        <tr>
            <th>Cari:</th>
            <td>{{ payment_receipt.customer }}</td>
        </tr>
        <tr>
            <th>Harcama Kalemi:</th>
            <td>{{ payment_receipt.expense_item }}</td>
        </tr>
        <tr>
            <th>İşlem Türü:</th>
            <td>{{ payment_receipt.get_transaction_type_display }}</td>
        </tr>
        <tr>
            <th>Miktar USD:</th>
            <td>${{ payment_receipt.usd_amount }}</td>
        </tr>
        <tr>
            <th>Miktar EUR:</th>
            <td>€{{ payment_receipt.eur_amount }}</td>
        </tr>
        <tr>
            <th>Tarih:</th>
            <td>{{ payment_receipt.date|date:"d-m-Y" }}</td>
        </tr>
        <tr>
            <th>Miktar TL:</th>
            <td><b>{{ payment_receipt.amount }} TL</b></td>
        </tr>   
    </table>

    {%if order.customer.user == request.user %}


    <a href="{% url 'order:payment_receipt_list' %}" class="btn btn-secondary">Listeye Geri Dön</a>
    <a href="{% url 'order:payment_receipt_edit' payment_receipt.pk %}" class="btn btn-primary">Düzenle</a>
    <form method="POST" action="{% url 'order:payment_receipt_delete' payment_receipt.pk %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sil</button>
    </form>
    {%endif%}
{% endblock %}