{% extends "order/navbar.html" %}

{% block content %}
    <h2>Kasa İşlemleri</h2>
    <a href="{% url 'order:payment_receipt_create' %}" class="btn btn-success mb-2">Yeni Kasa İşlemi</a>
    <table class="table">
        <thead>
            <tr>
                <th>İşlem No</th>
                <th>Kullanıcı</th>
                <th>Kasa Hesabı</th>
                <th>Cari</th>
                <th>Harcama Kalemi</th>
                <th>İşlem Türü</th>
                <th>Miktar TL</th>
                <th>Miktar USD</th>
                <th>Miktar EUR</th>
                <th>Tarih</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for payment_receipt in payment_receipts %}
                <tr>
                    <td><a href="{% url 'order:payment_receipt_detail' payment_receipt.pk %}">{{ payment_receipt.transaction_number }}</a></td>
                    <td>{{ payment_receipt.user }}</td>
                    <td>{{ payment_receipt.cash_register }}</td>
                    <td>{{ payment_receipt.customer }}</td>
                    <td>{{ payment_receipt.expense_item }}</td>
                    <td>{{ payment_receipt.get_transaction_type_display }}</td>
                    <td>{{ payment_receipt.amount }}</td>
                    <td>{{ payment_receipt.usd_amount }}</td>
                    <td>{{ payment_receipt.eur_amount }}</td>
                    <td>{{ payment_receipt.date|date:"d-m-Y" }}</td>
                    <td>
                        <form method="POST" action="{% url 'order:payment_receipt_delete' payment_receipt.pk %}" style="display:inline;" onsubmit="return confirmDelete();">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function confirmDelete() {
            return confirm("Kasa işlemini silmek istediğinizden emin misiniz?");
        }
    </script>
{% endblock %}
