{% extends "order/navbar.html" %}

{% load static %}
{% block content %}

<form action="{% url 'order:search' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="Submit" value="Ara">
</form>

{% if page_obj %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Görsel</th>
            <th>Kod</th>
            <th>Açıklama</th>
            <th>Birim</th>
            <th>Marka</th>
            <th>Kategori</th>
            <th>Fiyat</th>
            <th>Kur</th>
            <th>Stok D1</th>
            <th>Stok D4</th> <!-- New column for D4 -->
        </tr>
    </thead>
    <tbody>
        {% for item in page_obj %}
        <tr>
            <td><img src="{% static item.photoPath %}" alt="" width="100"></td>
            <td>{{ item.codeUyum }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.unit }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.mainCategory }}</td>
            <td><a href="{% url 'order:product_order_history' item.id %}" class="popup-link">{{ item.priceSelling }}</a></td>
            <td>{{ item.currency }}</td>
            <td>{{ item.stockAmountD1 }}</td> <!-- Stock for D1 -->
            <td>{{ item.stockAmountD4 }}</td> <!-- Stock for D4 -->
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if query %}&product_name={{ query }}{% endif %}">&laquo; İlk</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if query %}&product_name={{ query }}{% endif %}">Önceki</a>
        {% endif %}

        <span class="current">
            Sayfa {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if query %}&product_name={{ query }}{% endif %}">Sonraki</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&product_name={{ query }}{% endif %}">Son &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

<script>
    function openInPopup(event) {
        event.preventDefault();
        var width = 600;
        var height = 400;
        var left = (screen.width - width) / 2;
        var top = (screen.height - height) / 2;
        var url = this.href;
        window.open(url, 'Product Order History', 'width=' + width + ', height=' + height + ', top=' + top + ', left=' + left + ', resizable=yes, scrollbars=yes');
    }

    document.querySelectorAll('.popup-link').forEach(function(link) {
        link.addEventListener('click', openInPopup);
    });
</script>

{% endblock %}
