{% extends "order/navbar.html" %}

{%block content %}
<h2>Satın Alım Geçmişi </h2>
<h3>{{ product.description }}<h3>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Customer</th>
            <th>Sales Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order_items %}
        <tr>
            <td>{{ item.order.date|date:"d/m/Y H:i" }}</td>
            <td>{{ item.order.customer.companyName }}</td>
            <td>{{ item.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}