{% extends "order/navbar.html" %}

{% block content %}

<h2>Cari Listesi</h2>
<a href="{% url 'order:supplier_new' %}" class="btn btn-success mb-2">Yeni Cari</a>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Firma Kodu</th>
            <th>Firma Adı</th>
            <th>Vergi Dairesi</th>
            <th>Vergi Numarası</th>
            <th>Şehir</th>
            <th>Adres</th>
            <th>Ülke</th>
            <th>Eposta</th>
            <th>Telefon</th>
            <th>İlgili Kişi</th>
            <th>Ekstre</th>

            
        </tr>
    </thead>
    <tbody>
        {% for supplier in page_obj %}
        <tr>
            <td>{{ supplier.supplierCode }}</td>
            <td>{{ supplier.companyName }}</td>
            <td>{{ supplier.taxOffice }}</td>
            <td>{{ supplier.tax_number }}</td>
            <td>{{ supplier.city }}</td>
            <td>{{ supplier.adress }}</td>
            <td>{{ supplier.country }}</td>
            <td>{{ supplier.email }}</td>
            <td>{{ supplier.telephone }}</td>
            <td>{{ supplier.contactPerson }}</td>
            <td>
                <a href="{% url 'order:supplier_financials' supplier_id=supplier.id %}">Cari Ekstre</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; İlk</a>
            <a href="?page={{ page_obj.previous_page_number }}">Önceki</a>
        {% endif %}

        <span class="current">
            Sayfa {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Sonraki</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Son &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
