{% extends "order/navbar.html" %}

{% block content %}
<body>
    <h2>Siparişler</h2>
    <a href="{% url 'Simetri.order:user_order' %}" class="btn btn-success mb-2">Yeni Sipariş</a>
    <table class="table">
        <thead>
            <tr>
                <th>Sipariş Numarası</th>
                <th>Tarih</th>
                <th>Cari</th>
                <th>Kullanıcı</th> <!-- Add this line -->
                <th>Toplam (USD)</th>
                <th>Toplam (EUR)</th>
                <th>Toplam TL</th>
                <th>Toplam İskonto</th>
                <th>Toplam KDV</th>
                <th>Genel Toplam</th>
            </tr>
        </thead>
        <tbody>
            {% for order_with_total in orders_with_totals %}

            {%if order_with_total.order.is_billed == False %}
            {%if order_with_total.order.customer.user == request.user%}


            <tr>
                <td><a href="{% url 'Simetri.order:order_detail' order_with_total.order.order_number %}">{{ order_with_total.order.order_number }}</a></td>
                <td>{{ order_with_total.order_date }}</td>
                <td>{{ order_with_total.order.customer }}</td>
                <td>{{ order_with_total.order.user.username }}</td> <!-- Add this line -->
                <td>${{ order_with_total.total_amount_usd }}</td>
                <td>€{{ order_with_total.total_amount_eur }}</td>
                <td>{{ order_with_total.total_amount_tl }} TL</td>
                <td>{{ order_with_total.total_discount }} TL</td>
                <td>{{ order_with_total.total_tax }} TL</td>
                <td><b>{{ order_with_total.grand_total }} TL</b></td>
            </tr>
            {% endif %}
            {% endif %}

            {% endfor %}

        </tbody>
    </table>
</body>
{% endblock %}
